div.table {
	display: table;
}

div.table-row {
	display: table-row;
}


div.table-row div{
	display: table-cell;
	width: 20%;
}

div.table-head {
	display: table-header-group;
}

div.table-body{
	display: table-row-group;
}