/*---------- general style ----------*/

body {
	font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial,sans-serif; 
	margin: 0;
	background-color: #e9eef1;	
	font-size: 14px;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
	margin-top: 0;
}

p, li {
	line-height: 1.5;
}

a, a:link, a:visited {
	color: #6851c1;
	text-decoration: none;
}

a:hover {
    color: #9b84f4;
}

a:active {
	color: #ff7373;
}

.bold-text {
	font-weight: bold;
}

.bold-text-color {
	color: #fd3750;
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.table {
	margin: 0 auto;
	display: table;
	margin-top: 20px;
	margin-bottom: 20px;
	table-layout: fixed;
	width: 100%;
}

.table-row {
	display: table-row;
	width:100%;
}

.table-row div {
	display: table-cell;
	width: 20%;
	border-top: 2px solid #aec4d1;
    border-right: 2px solid #aec4d1;
    padding: 5px;
}

.table-row div.left {
	border-left: 2px solid #aec4d1;
}

.table-row div.bottom {
	border-bottom: 2px solid #aec4d1;
}

.table-head {
	display: table-header-group;
}

.table-body{
	display: table-row-group;
	width: 100%;
}


/*---------- navigation bar style ----------*/

.nav-container {
	color: white;
	background-color: rgba(0,0,0,0.9);
	top: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
	position: fixed;
	z-index: 2000;
}

.nav-title {
	display: inline-block;
}

.nav-subtitle {
	display: inline-block;
	margin-left: 20px;
}

.nav-bar {
	display: block;
}

a.nav-link, a.nav-link:link, a.nav-link:visited  {
	color: #b1f3f6;
	margin-right: 10px;
}

a.nav-link:hover {
	color: #b1f6d7;
}

a.nav-link:active {
	color: #fff7eb
}


/*---------- content general style ----------*/

.content-group {
	padding-top: 5px;
	padding-bottom: 20px;
	overflow: auto;
	margin-top: 130px;
}

.content {
	width: 75%;
	background-color: #f9fafb;
	margin: 0 auto;
	border-radius: 10px;
	border: 1px #ccc solid;
}

.section {
	margin-top: -135px;
	padding-top: 135px;
	margin-bottom: 50px;
}

.section-home {
	margin-top: -200px;
	padding-top: 200px;
	margin-bottom: 50px;
}

.title {
	background-color: #82CFFD; 
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	min-height: 40px;
	line-height: 2;
}

.info {
	width: 90%;
	margin: 0 auto;
}


/*--------- staff section style----------*/
.avatar {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid #b1f3f6;
    margin-right: 20px;
}

.small_avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 2px solid #b1f3f6;
    background-position: center;
}

.assistant-block {
	width: 45%; 
	display: inline-block;
	margin-right: 10px;
}

.staff-title {
	text-align: left; 
	margin-bottom: 0;
}

.ta-title {
	text-align: left; 
	margin-bottom: 30px; 
	margin-top: 15px;
}

.instructor-info {
	display: inline-block; 
	position: absolute;
}

.staff-info {
	margin: 0 auto;
	text-align: center;
}

.staff-info p {
	margin-top: 0;
}

a.email-link {
	color: #3c8564;
	word-wrap: break-word;
	word-break: break-all;
}

a.email-link:hover {
	color: #56be90;
}


/*--------- syllabus section style----------*/
.syllabus-container {
	margin-top: 20px;
}

.syllabus-subtitle {
	text-align: left;
	margin-bottom: 0;
}

.textbook-title {
	text-align: left; 
	margin-bottom: 10px;
}

.textbook-container {
	margin-bottom: 10px
}

.textbook-container div {
	display: inline-block;
}

.textbook-img {
	max-width: 120px; 
	height: auto; 
	width: 100%;
}

.textbook-info {
	display: inline-block; 
	position: absolute; 
	margin-left: 30px;
	width: 50%;
    word-wrap: break-word;
}

.textbook-info p {
	margin-top: 0
}

.policy li {
	line-height: 2;
}

.underline-text {
	text-decoration: underline;;
}


/*---------- schedule section style ----------*/

a.section-link {
	color: #323299;
	font-weight: bold;
}

a.section-link:hover {
	color: #7f7fbf;
	font-weight: bold;
}

a.section-link:active {
	color: #ffc8e3;
}

.schedule-table {
	margin: 0 auto;
	display: table;
	margin-top: 5px;
	margin-bottom: 30px;
	width: 100%;
	table-layout: fixed;
}

.schedule-table-row {
	display: table-row;
	width: 100%;
}

.schedule-table-row div {
	display: table-cell;
	border-top: 2px solid #aec4d1;
    border-right: 2px solid #aec4d1;
    padding: 5px;
}

.schedule-table-row div.left {
	border-left: 2px solid #aec4d1;
	width: 150px;
}

.schedule-table-row div.bottom {
	border-bottom: 2px solid #aec4d1;
}

.schedule-column {
	width: 150px;
}

.week-subtitle {
	margin-top: 0;
	margin-bottom: 0;
}

.reading-week {
	margin-top: 0;
	margin-bottom: 30px;
}


/*---------- form style ----------*/

.form-input {
	width: 100%;
	line-height: 2;
	border: 1px solid #cacaca;
	margin-top: 5px;
	margin-bottom: 5px;
}

.form-textarea {
	height: 150px;
	width: 100%;
	border: 1px solid #cacaca;
	margin-top: 5px;
}

.submit-button {
	width: 100%;
	border: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 2;
    background-color: #1ea8fc;
    color:white;
}

.submit-button:hover {
	background-color: #37b2fc;
	cursor: pointer;
}


/*----------- footer style --------------*/

footer {
	font-size: 12px;
	background-color: #effcfd;
	padding-bottom: 10px;
	padding-top: 10px;
}

.footer-text {
	text-align: center;
	color: #575757;
}

.footer-text p {
	margin-bottom: 0;
	margin-top: 0;
	line-height: 2;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body {
		font-size: 13px;
	}

	footer {
		font-size: 11px;
	}
}