body {
	font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
	margin: 0;
	background-color: #e9eef1;	
}

div.content-group {
	padding-top: 5px;
	padding-bottom: 20px;
	overflow: auto;
	margin-top: 130px;
}

div.content {
	width: 80%;
	background-color: #f9fafb;
	margin: 0 auto;
	border-radius: 10px;
	border: 1px #ccc solid;
}

div.section {
	margin-top: -200px;
	padding-top: 200px;
	margin-bottom: 50px;
}

.title-group {
	color: white;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
	position: fixed;
}

div.table {
	margin: 0 auto;
	display: table;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.table-row {
	display: table-row;
	width:100%;
}


div.table-row div{
	display: table-cell;
	width: 20%;
	border-top: 2px solid #aec4d1;
    border-right: 2px solid #aec4d1;
    padding: 5px;
}

div.table-row div.left {
	border-left: 2px solid #aec4d1;
}

div.table-row div.bottom {
	border-bottom: 2px solid #aec4d1;
}

div.table-head {
	display: table-header-group;
}

div.table-body{
	display: table-row-group;
}

.title {
	background-color: #82CFFD; 
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 40px;
	line-height: 40px;
}

.info {
	padding: 20px;
	width: 90%;
	margin: 0 auto;
}

h3 {
	text-align: center;
	margin-top: 0;
}

footer {
	background-color: #fef8cd;
	height: 100px;
}

span.bold-text {
	font-weight: bold;
}
span.bold-text-color {
	color: #fd3750;
	font-weight: bold;
}

p {
	line-height: 25px;
}

li {
	line-height: 30px;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid #b1f3f6;
}

.small_avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid #b1f3f6;
    background-position: center;
}

a {
	color: #8366f2;
	text-decoration: none;
}

a:link, a:visited {
	color: #8366f2;;
}

a:hover {
    color: #C966F2;
}

a.nav-link {
	color: #b1f3f6;
	margin-right: 10px;
}

a.nav-link:link, a.nav-link: visited {
	color: #b1f3f6;
}

a.nav-link:hover {
	color: #f5afad;
}

.assistant-block {
	width: 48%; 
	display:inline-block;
}

#anchor{

	margin-top: 90px;
}